@import 'reset.scss';

body {
    font-family: sans-serif;
    margin: 50px;
}

.board-row {

    &:after {
        clear: both;
        content: '';
        display: table;
    }
    
    .square {
        background: #fff;
        border: 1px solid #999;
        float: left;
        font-size: 50px;
        font-weight: bold;
        line-height: 34px;
        height: 80px;
        margin-right: -1px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
        width: 80px;
        cursor: pointer;
    }
}